<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/vue.global.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/" class="{{if eq .Active "Image"}}active{{end}}">图片上传</a></li>
            <li><a href="/dashboard" class="{{if eq .Active "home"}}active{{end}}">后台管理</a></li>
           
            <li class="nav-right">
                {{if .IsAuthenticated}}
                    <span class="user-info">
                        欢迎, {{.Username}}
                        <a href="/logout" class="logout-btn">
                            <i class="logout-icon">🚪</i>
                            退出
                        </a>
                    </span>
                {{else}}
                    <a href="/login" class="login-btn">登录</a>
                {{end}}
            </li>
             <li><a href="/about" class="{{if eq .Active "about"}}active{{end}}">关于我们</a></li>
        </ul>
    </nav>
    <main>
        {{ embed }}
    </main>
    <script src="/public/js/main.js"></script>
</body>
</html> 